
/* Top navigation */

html, body {
    height: 100%;
    position: relative;
    font-family: "roboto";
   
    margin: 0;
    
}
.nav-container {
    background-color: white;
    margin-top: 0%;
}

.nav-container a {
    font-family: "roboto";
    color: black;
    text-decoration: none;
    height: auto;


}

.nav-container .left-nav a img {
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    size: relative;


}

.nav-container .right-nav {
    display: flex;
    float: right;
    font-size: relative;
    padding-right: 40px;
    padding-bottom: 20px;
    

}

.nav-container .right-nav .how-it-works {
    padding-right: 30px;
    padding-top: 20px;

}

.nav-container .right-nav .terms {
    padding-right: 30px;
    padding-top: 20px;
}

.nav-container hr {
    background-color: #FCCB0C;
    height: 5px;
    width: 100%;
    margin-bottom: none;
    margin-block-start: 0%;
    margin-block-end: 0%;

}
.instruction-banner img {
    width: 100%;
    height: auto;
}



.map-section {
    padding-top: 60px;
    height: auto;


}

.map {
    text-align: center;

}

.map-section .map-heading {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;

}




/* FOOTER*/
.footer {
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
    overflow: auto;
}

.footer .footer-content {
    height: 350px;
    display: flex;



}

.footer .footer-content a {
    color: #d3d3d3;
    text-decoration: none;
}

.footer-content .footer-section {
    flex: 1;
    padding: 25px;
    

}

.footer .footer-content .footer-section .about h1 span {
    color: #d3d3d3;
}

.footer .footer-content .footer-section .about .contact {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;



    
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    


}

.row {
    color: white;

}
.row a {
    text-decoration: none;
    color: white;
}

.row .colomn .h2 {
    padding-bottom: 10px;
}

