
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap');



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #999;
    list-style-type: none;
    text-decoration: none;
} 

.c{
    overflow: hidden;
}

body 
{
    height: 100%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    /*background: #ede7f6;*/
    background: white;
}

/*HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER*/
.header-container 
{
    /*display: inline;*/
    background-color: white
}

.header-container .left-nav .logo
{
    font-family: "Nunito";
    color: white;
    margin: 10px;
    
}

.header-container .left-nav .logo h1
{
    color: rgb(189, 74, 122);
}

/* desktop screen size */

@media screen and (min-width: 820.5px)
{   
    .header-container .right-nav
    {
        background-color: rgb(189, 74, 122);
        text-align: right;
        padding: 15px;
    }

    .header-container .right-nav div
    {
        font-family: "Poppins";
        font-size: .8em;
        text-align: right;
        display: inline;

    }

    .header-container .right-nav 
    {
        width: 100%;
    }

    .header-container .right-nav a
    {
        
        padding: 10px;
        color: white;
    }

    .header-container .right-nav a:hover
    {
        background-color: white;
        color: rgb(189, 74, 122);
    }
    .header-container .dropdown
    {
        display: none;
    }
}
/* mobile screen size for HEADER */

@media screen and (max-width: 820.5px)
{
    .header-container .right-nav
    {
        display: none;
    }
    
    .dropbtn 
    {
        background-color: rgb(189, 74, 122);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
    .dropbtn .fa
    {
        color: white;
        float: left;
    }

    .dropbtn:hover, .dropbtn:focus 
    {
        background-color: rgb(192, 115, 147);
    }
      
    .dropdown 
    {
        position: relative;
        display: inline-block;
        width: 100%;
    }
      
    .dropdown-content 
    {
        display: none;
        position: relative;
        background-color: rgb(255, 255, 255);;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      
    .dropdown-content a 
    {
        font-family: "Poppins";
        color: rgb(189, 74, 122);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    .dropdown a:hover 
    {
        background-color: rgb(189, 74, 122);
        color: white;
    }
      
    .show {display: block;}

}


/*PRODUCT SELECTION | PRODUCT SELECTION | PRODUCT SELECTION | PRODUCT SELECTION*/


.selection-container div
{
    /*background-color: blue;*/
    text-align: center;
    font-family: "Roboto";

}


.selection-container .product-list .items .product-images div
{
    display: inline-block;
    

}

.selection-container .product-list .items .product-images a .product-wrapper 
{
    box-shadow: 0 0 5px rgba(0,0,0,0.16) !important;
    border-radius: 5px;
    margin: 15px;
    
}
.selection-container .product-list .items .product-images a .product-wrapper:hover
{
    background-color: rgb(247, 242, 244);

}

.selection-container .product-list .items .product-images .product-wrapper .item .price-box
{
    margin: 3px;
}

.selection-container .product-list .items .product-images .product-wrapper .item img
{
    margin: 5px;
}

.selection-container .product-list .items .product-images .product-wrapper .item .price-box
{
    position: absolute;
    background-color: rgb(189, 74, 122);
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.selection-container .product-list .items .product-images a .product-wrapper .id-wrapper
{
    text-align: center;
    display: block;
}

.selection-container .product-list .items .product-images a .product-wrapper .id-wrapper .quipId
{
    color: rgb(231, 89, 148);
}

.selection-container .product-list .items .product-images a .product-wrapper .text
{
    display: block;
    color: black;
    font-family: "Roboto";
    font-size: .8em;
    margin: 5px;
}

.selection-container .product-list .items .product-images a .product-wrapper .text .city
{
    color: white;
    background-color: rgb(230, 104, 159);
    border-radius: 10px;
    padding: 1px;
}

.selection-container .product-list .items .product-images a .product-wrapper .text .item-description
{
    color: rgb(19, 19, 19);


}

/*PRODUCT INFO PRODUCT INFO PRODUCT INFO PRODUCT INFO PRODUCT INFO PRODUCT INFO PRODUCT INFO PRODUCT INFO PRODUCT INFO*/
.item-container
{
    font-family: "roboto";
    text-align: center;
}

.item-container .item-row
{
    display: inline-block;
    padding: 35px;
}

.item-container .item-row .info-row .price-box-wrapper
{
    margin: 30px;
}

.item-container .item-row .info-row .price-box-wrapper .price-box
{
    color: rgb(230, 104, 159);
    text-align: left;
    margin-bottom: 20px;
}

.item-container .item-row .info-row .price-box-wrapper .price-box .city-id
{
    font-size: 15px;
    padding: 8px;
    color: white;
    background-color: rgb(230, 104, 159);
    border-radius: 5px;
}


.item-container .item-row .info-row .price-box-wrapper .price-box div
{
    display: inline;
    font-size: 35px;
    color: rgb(230, 104, 159);
    text-align: left;
}


.item-container .item-row .info-row .product-number
{
    color: rgb(59, 59, 59);
    text-align: left;
}

.item-container .item-row .info-row .item-description .product-description
{
    color: rgb(59, 59, 59);
}

.item-container .item-row .info-row .buybtn
{
    margin: 70px;
}

.item-container .item-row .info-row .buybtn .btn
{
    padding: 20px;
    background-color: rgb(230, 104, 159);
    border-style: none;
    border-radius: 10px;
    color: white; 
    font-size: 25px;
}



/*ORDER FORM | ORDER FORM | ORDER FORM | ORDER FORM | ORDER FORM | ORDER FORM  do not use do not use do not use*/

.page-content
{

    display: inline;
    flex-wrap: wrap;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 90%;
    border: 3px solid #73AD21;

 
}

.page-content .inner-container
{
    margin: auto;
    width: 90%;
}

.page-content .inner-container .checkout-container
{
    background-color: rgb(241, 241, 241);
    border: 1px solid lightgrey;
    border-radius: 3px;
    display: block;
    padding: 15px;
    margin: 20px;

}

.page-content .inner-container .checkout-container .billing-container form
{
    display: block;

    
}

.page-content .inner-container .checkout-container .billing-container label
{
    display: block;
    margin: 10px;
    width: 100%;

}

.page-content .inner-container .checkout-container .billing-container input
{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.page-content .inner-container .checkout-container .billing-container .btn
{
    margin-top: 15px;
    background-color: rgb(189, 74, 122);
    color: white;
}

.page-content .inner-container .map-section
{
    text-align: center;
}



/*FOOTER SECTION | FOOTER SECTION | FOOTER SECTION | FOOTER SECTION | FOOTER SECTION*/
footer 
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

footer .container
{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}
footer .container .footer-top
{
    text-align: left;
    font-family: "nunito";
    width: 100%;
    transition: transform .001s linear !important;
    padding-bottom: 30px;

}
/* static ABOUT menu styles */

footer .container .footer-nav .about-column h3
{
    padding-bottom: 15px;
}

footer .container .footer-nav .about-column .about-menu 
{
    width: 100%;
}

footer .container .footer-nav .about-column .about-menu .about-item
{
    padding-bottom: 10px;
}


/* static SERVICE menu styles */
footer .container .footer-nav .service-column h3
{
    padding-bottom: 15px;
}

footer .container .footer-nav .service-column .service-menu
{
    width: 100%;
}

footer .container .footer-nav .service-column .service-menu .service-item
{
    padding-bottom: 10px;
}


/* static RETURN menu styles */
footer .container .footer-nav .return-column h3 
{
    margin-bottom: 15px;
}



/* desktop screen size */

@media screen and (min-width: 820px)
{   
    footer .container 
    {
        font-family: "Poppins";
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    footer .container .footer-nav
    {
        display: inline-flex;
        padding-bottom: 50px;
        width: 100%;
        /*text-align: center;*/
    }

    /* social menu */

    footer .container .footer-nav .social-column
    {
        padding: 20px;
        padding-left: 40px;
    }

    footer .container .footer-nav .social-column .icons a
    {
        font-size: 30px;
        padding: 5px;
        padding-left: 10px;

    }

    /* about menu */

    footer .container .footer-nav .about-column
    {
        margin-left: 15%;
    }

    /* service menu */

    footer .container .footer-nav .service-column
    {
        margin-left: 15%;
    }

    /* return menu */

    footer .container .footer-nav .return-column
    {
        margin-left: 15%;
    }



    /* bottom footer */

    footer .container .footer-bottom 
    {
        display: inline-flex;
        border-top: 1px solid #393939;
        width: 100%;
        padding-top: 20px;
    }

    footer .container .footer-bottom .footer-item
    {
        margin-right: 15px;
    }



}


/* mobile screen size */

@media screen and (max-width: 820px)
{
    footer .container
    {
        font-family: "Poppins";
    }

    footer .container .footer-nav
    {
        padding-bottom: 50px;
        width: 100%;
    }

    footer .container .footer-nav .social-column
    {
        padding-bottom: 30px;

    }

    footer .container .footer-nav .social-column .icons a
    {
        font-size: 30px;
        padding: 5px;
    }

    /* about menu */

    footer .container .footer-nav .about-column
    {
        padding-bottom: 30px;
    }

    /* service menu */

    footer .container .footer-nav .service-column
    {
        padding-bottom: 30px;
    }

    /* return menu */

   

    /* bottom footer */

    footer .container .footer-bottom 
    {
        border-top: 1px solid #393939;
        width: 100%;
        padding-top: 20px;
    }

    footer .container .footer-bottom .footer-item
    {
        padding-bottom: 10px;
    }
 
}
